/* Colors for brand */
nav .green, .navbar-light .navbar-brand, .green {
    color: #7d9999;
}

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
    display: flex;
}

/* Menu */
nav {
    font-weight: 500;
    font-size: large;
}

/* Links */
.nav-link, a, .red {

    text-decoration: none;
    color: #AC090A;
}

/* Hover on menu */
.nav-link:hover, .nav-link:focus, a:hover {
    color: #7d9999;
}
nav .active {
    color: #7d9999;
}

/* Colors for workout types */
.blue {
    color: navy;
}

/* Brand on header */
.brand {
    margin-left: 10px;
}

.nav-item {
    /* Border for nav menus */
    border-right: solid grey;
}

.nav-item:last-child {
    /* No right border for last menu */
    border-right: 0;
}

body {
    /* Font family for all */
    font-size: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

main {
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

main img {
    /* Constrain images on small screens */
    max-width: 100%;
}

/* Footer */
footer {
    font-size: 90%;
}

/* Buttons */
.btn-primary {
    color: white;
    background-color: #64090A;
    border-color: #64090A;
}

/* Hover on buttons */
.btn-primary:hover {
    color: #fff;
    background-color: #7d9999;
    border-color: #7d9999;
}

/* Click on buttons */
.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    color: #fff;
    background-color: #7d9999;
    border-color: #7d9999;
    box-shadow: 0 0 0 0.25rem rgb(125 153 153 / 25%);
}

/* Focus on forms */
.form-control:focus, .btn-close:focus {
    border-color: #7d9999;
    box-shadow: 0 0 0 0.25rem rgb(125 153 153 / 25%);
}

/* Form labels */
.col-form-label {
    font-weight: 600;
}

/* Unordered list */
header ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* Form radio selection */
.form-check-input:checked {
    background-color: #7d9999;
    border-color: #7d9999;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(125 153 153 / 25%);
}

/* Form radio */
.form-check-input {
    width: 1.2em;
    height: 1.2em;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    z-index: 1000;
    font-size: 1.5rem;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}