nav .navbar-brand {
    /* Size for brand */
    font-size: xx-large;
    display: flex;
}

nav {
    /* Menu */
    font-weight: 500;
    font-size: large;
}

.nav-link, a {
    /* Links */
    text-decoration: none;
    color: #AC090A;
}

.nav-link:hover {
    /* Hover on menu */
    color: #7d9999;
}

nav .active {
    color: #7d9999;
}

/* Colors for brand */
nav .green, .navbar-light .navbar-brand, .green {
    color: #7d9999;
}

.brand {
    /* Brand on header */
    margin-left: 10px;
}

.nav-item {
    /* Border for menus */
    border-right: solid grey;

}

.nav-item:last-child {
    /* No right border for last menu */
    border-right: 0;
}

body {
    /* Font family for all */
    font-size: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

main {
    /* Scroll horizontally as needed */
    overflow-x: auto;
}

main img {
    /* Constrain images on small screens */
    max-width: 100%;
}

footer {
    /* Footer */
    font-size: 90%;
}

.btn-primary {
    /* Buttons */
    color: white;
    background-color: #64090A;
    border-color: #64090A;
}

.btn-primary:hover {
    /* Hover on buttons */
    color: #fff;
    background-color: #7d9999;
    border-color: #7d9999;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
    /* Click on buttons */
    color: #fff;
    background-color: #7d9999;
    border-color: #7d9999;
    box-shadow: 0 0 0 0.25rem rgb(125 153 153 / 25%);
}

.form-control:focus {
    /* Focus on forms */
    border-color: #7d9999;
    box-shadow: 0 0 0 0.25rem rgb(125 153 153 / 25%);
}

form label {
    /* Form labels */
    font-weight: 600;
}

/* unordered list */
header ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
}