{% extends "2col_layout.html" %}

{% block title %}
    View Log
{% endblock %}

{% block image %}
    <img src="/static/images/jump.jpg" alt="image-jump" class="img-fluid mx-auto d-block" width="100%">
{% endblock %}

{% block content %}
    <form action="/register" method="post">
        <h1 class="green">Register</h1>
        <p>Be part of the addi family</p>
        
        <hr> 

        <div class="mb-3 row justify-content-md-center">
            <div class="col-sm-7">
                <input class="form-control" name="name" placeholder="Name" type="text" autocomplete="off" autofocus>
            </div>
        </div>
        <div class="mb-3 row justify-content-md-center">
            <div class="col-sm-7">
                <input class="form-control" name="username" placeholder="Username" type="text" autocomplete="off">
            </div>
        </div>
        <div class="mb-3 row justify-content-md-center">
            <div class="col-sm-7">
                <input class="form-control" name="password" placeholder="Password 6+ characters" type="password" autocomplete="off" minlength="6">
            </div>     
        </div>
        <div class="mb-3 row justify-content-md-center">
            <div class="col-sm-7">
                <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" autocomplete="off" minlength="6">
            </div>
        </div>


        <div class="mb-3 row">
            <div class="d-grid gap-2 col-7 mx-auto">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>
    </form>
{% endblock %}