{% extends "layout.html" %}

{% block title %}
    View Log
{% endblock %}

{% block main %}
    <h1 class="green text-center">Workout Log</h1>

    <!-- Search box -->
    <div class="col-sm-3 mx-auto">
        <div class="input-group mb-3">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </span>
            <input id="myInput" type="text" placeholder="Search.." class="form-control" autofocus>
        </div>
    </div>

    <table class="table fixed">
        <thead>
           <tr>
               <th>Date</th>
               <th>Duration</th>
               <th>Workout Type</th>
               <th>Title</th>
               <th>Instructor</th>
           </tr>
        </thead>
        <tbody id='myTable'>
            {% for workout in workouts %}
            <tr>
                <td>{{ workout['date'] }}</td>
                <td>{{ workout['duration'] }}</td>
                <td>{{ workout['workout_type'] }}</td>
                <td>{{ workout['title'] }}</td>
                <td>{{ workout['instructor'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}