{% extends "layout.html" %}

{% block title %}
    View Log
{% endblock %}

{% block main %}
    <h1 class="green text-center">Workout Log</h1>

    <!-- Search box -->
    <div class="row mb-4">
        <div class="col-sm-3">
            <input id="myInput" type="text" placeholder="Search.." class="form-control" autofocus>
        </div>
    </div>

    <table class="table fixed">
        <thead>
           <tr>
               <th>Date</th>
               <th>Duration</th>
               <th>Workout Type</th>
               <th>Title</th>
               <th>Instructor</th>
           </tr>
        </thead>
        <tbody id='myTable'>
            {% for workout in workouts %}
            <tr>
                <td>{{ workout['date'] }}</td>
                <td>{{ workout['duration'] }}</td>
                <td>{{ workout['workout_type'] }}</td>
                <td>{{ workout['title'] }}</td>
                <td>{{ workout['instructor'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}